* {
    box-sizing: border-box;
    
}
body{
    background-color: rgb(82, 90, 97);
    color: azure;
}
.crear{
    border-radius: 10px 40px 10px 40px;
    width: 70%;
    text-align: center;
    background-image: linear-gradient(rgb(169, 79, 192),rgb(136, 44, 145),rgb(153, 15, 130));
    box-shadow: 6px 6px 10px rgb(0, 0, 0);
    margin-bottom: 15px;
}
form {
    display: flex;
    flex-direction: column;
    margin: auto;
    background-image: linear-gradient(rgb(58, 58, 163),rgb(30, 30, 128),blue);
    width: 95%;
    max-width: 500px;
    border-radius: 10px 40px 10px 40px;
    padding: 15px;
    align-items: flex-start;
    box-shadow: 15px 10px 10px rgb(0, 0, 0);
}
input,select {
    text-align: center;
    margin: auto;
    width: 100%;
    padding: 3px;
}

input, label, select {
    font-size: 1em;

}
label {
    /* margin-right: 30px; */
     width: 100%;
    text-align: left; 
}
.ingresos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-around;
}
.textot {
    width: 90%;
    display: flex;
    padding: 5px;
    margin: auto;
    text-align: center;
    border: solid 4px black;
    
}
textarea{
    resize: none;
    text-align: center;
    font-size: 1.5em;
    }

.todo{
    /* background-color: brown; */
    text-align: center; 
    width: 90%;
    margin: auto;   
   
}
legend{
    font-size: 1.7em;
}
.sexo,.radio{
width: auto;
}
.hobiet{
    /* background-color: blueviolet; */
    font-size: 1.6em;
    width: 50%;
    margin: auto;
    padding: 7px;
    text-align: center;
    padding-bottom: 4px;
}
.hobies{
    /* background-color: aquamarine; */
    width: 100%;
    margin: auto;
    
          
}
.caca{
    text-align: center;
}
fieldset{
    width: auto;
    margin: auto;
}
.boton{
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(39, 37, 37);
}
.boton:hover{
    background-color: rgb(85, 83, 81);
    border-radius: 30px;
}






/* tp5.1 */


.todo-perfil{
    
    margin: auto;
    
}

.principio{
     display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
    max-width: 500px;
    margin: auto;
    border-radius: 10px 40px 10px 10px;
}
.nombre{

width: 90%;
padding-top: 6px;
margin-left: 5%;

}

.img-perfil{
    width: 95%;
    margin-left: 10%;
}

h1,h2{
    margin: 0%;
    align-items: center;
}
h1{
    font-size: 2.5em;
    
}
h2{
    font-size: 2em;
}

.fto-perfil{
    /* max-width: 13em; */
    /* max-height: 13em; */
    
    width: 13em;
    height: 12em; 
    border-radius: 50%;
    
    
}





.textox{
    font-size: 3em;
    
}
.infotodo{
    display: inline;
    background-color: brown;
    width: 60%;
    
}
.info  {
    border-radius: 0px 10px 40px 10px;
    background-color: brown;
    display: inline-block;
    text-align: center;
    width: 49%;
    font-size: 1em;
    
}
.pruebatodo{
    margin: auto;
    width: 95%;
    max-width: 500px;
}

p{
    margin: 0;
    margin-bottom: 15px;
    
}
.biografia{
    /* margin-left: 25%; */
    background-color: rgb(6, 46, 33);
    font-size: 1em;
    display: inline-block;
    vertical-align: top;
    width: 50%;
          
}
.textito{
     background-color: white;
    border: solid 1px black;
    width: auto;
    color: black;
    text-align: left;
}


@media only screen and (max-width: 450px){

body{
    background-color: brown;
}
.principio{
    border-radius: 10px 40px 00px 00px;

}

.info{
    width: 100%;

}

.biografia{
    width: 100%;
    }

    .textito{
        text-align: center;
    }

}





    

    













